# Ignore Python build files.
build/
dist/

# Ignore Python egg-info files.
*.egg-info/

# Ignore Sphinx built documentation files.
_build/

# Ignore Python cached files.
__pycache__/

# Ignore local VS Code settings.
.vscode/

# Ignore macOS metadata files.
.DS_Store
